@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}
* {
    margin: 0px;
    padding: 0px;
}
:root {
    --cor0: white;
    --cor1: #1b75bc;

    
}
body {
    font-family: var(--fonte-padrao);
}
header {
    min-height: 15px;
    text-align: center;
    padding-top: 0%;
    margin: auto;
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor1));
}
nav {
    background-color: #1b75bc;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    color: white;
}
nav > a {
    color: var(--cor0);
    padding: 4px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}
nav > a:hover {
    background-color: white;
    color: #1b75bc;
}
div img {
    width: 65px;
    margin-top: -58px;
    margin-left: 1162px;
    display: flex;
}
div a {
    display: flex;
    margin: 0%;
    margin-left: 1200px;
    margin-top: -34px;
    width: 10%;
    color: var(--cor0);
    padding: 4px;
    text-decoration: none;
}
main div {
    width: 400px;
    height: 380px;
    display: inline-block;
    margin-left: 55px;
    text-align: center;
}
main h2 {
    text-align: center;
    font-size: 16px;
    color: white;
    background-image: linear-gradient(to right, #1b75bc, #1b75bc);
    border-radius: 5px;
}
main p {
    text-align: justify;
    font-size: 13px;
}
main img {
    width: 80%;
    border-radius: 5%;
    margin-top: 5px;
    margin-left: 0%;
    margin-right: 0%;
    margin: auto;
}
section {
    width: 100%;
    height: 100%;
    text-align: center;
}
div .formas-d-pg {
    display:flex;
}
.formas-d-pg img {
    width: 300px;
    height: 50px;
    margin-top: -60px;
    margin-left: -25px;
    border-radius: 20px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}
div.video {
    margin: 10px 0px 10px 0px;
    padding: 25px;
    padding-bottom: 25px;
    position: relative;
    text-align: center;
    margin-top: 75px;
}
footer {
    background-color: var(--cor0);
    color: #1b75bc;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a {
    color: #1b75bc;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}
@media (max-width: 1350px) {
    .container {
        display: none;
    }
    div a {
        display: none;
    }
    section img {
        width: 100%;
    }
    .conteudo-c {
        margin-top: 1%;
    }
    div .formas-d-pg {
        margin-top: 10%;
    }
    main img {        
        display: inline;
    }
}
@media (max-width: 680px) {
    body main {
        max-width: 100%;
        margin: 10px;
        margin-top: -10px;
    }
    header {
        max-width: 100%;
    }
    section {
        width: 100%;
    }
    section img{
        width: 100%;
    }
    nav {
        max-width: auto;
        text-align: center;
    }
    div .video {
        width: 50px ;
    }
    main div {
        width: 100%;
        margin: auto;
    }
    main h2 {
        width: 100%;
    }
    main p {
        width: 100%;
    }
    main img {        
        width: 85%;
        display: inline;
    }
    div iframe {
        width: 100%;
    }
    div .formas-d-pg {
        width: 100%;
        display: flex;
        margin-top: 180px;
    }
    section {
        height: 0%;
        margin: auto;
    }
    .container {
        display: none;
    }
    div a {
        display: none;
    }
}